<center>
    <h1>Night Out</h1>
    <h4>An app by Hungover Software</h4>
    
    <div>
        <label for="username">Username</label><br>
        <input type="text" id="username" />
    </div>
    
    <div>
        <label for="password">Password</label><br>
        <input type="password" id="password" />
    </div>
    
    <a href="#">Forgot Password?</a>
    
    <br><br><button>Sign In</button>
    
    <div>
        <br>
        <p>New to Night Out?</p>
        <button>Create Account</button>
    </div>
    
</center>