<center>
    <h1>Night Out</h1>
    <h4>An app by Hungover Software</h4>
    
    <label for="username">Username</label><br>
    <input type="text" id="username" /><br>
    
    <label for="password">Password</label><br>
    <input type="text" id="password" /><br>
    
    <br><button>Sign In</button>
</center>