<!DOCTYPE html>
<html>
  <head>
    <title>Night Out</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <h1>Night Out</h1>
      <h4>An app by Hungover Software</h4>
    </center>
    <%= yield %>
  </body>
</html>
